@font-face {
  font-family: 'road race outline';
  src: url(../fonts/Road\ Race\ Outline.ttf);
}
@font-face {
  font-family: 'road race rough';
  src: url(../fonts/Road\ Race\ Rough.ttf);
}
#content{
  height: 100vh; 
  display: grid;
  grid-template-rows: 1fr 2rem 8fr 1.5rem;

  overflow: visible;
}


/* HEADER */
#header{
  font-family: 'road race rough';
  color: #F3E9DC;
  text-shadow: black 2px 2px ;
  background-color: #6A041D;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  overflow: visible;

}
#header-title{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.5rem;
  grid-column: 2/3;
  font-size: 4rem;
}






/* MENU */
#nav{
  background-color: #1C2321;
  border-top: 2px solid black;
  border-bottom: 2.25px solid black;
}
#nav ul{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-tab::selection{
  background-color: none;
}
.nav-tab{
  color: #F3E9DC;
}
.nav-tab:link{
  text-decoration: none;
}
.nav-tab:hover{
  text-decoration: underline;
  cursor: pointer;
}
.nav-tab:active{
  color:white;
}





/* ARTICLE */
#article{
  display: flex;
  justify-content: center;
}
#article-container{
  border-left: 2px solid #817E9F;
  border-right: 2px solid #817E9F;
  width: 80vw;
  max-width: 1000px;
  min-width: 450px;
  display: flex;
  flex-direction: column;
  background-color: #817e9fae;
}


/* HOME */
#hero.home{

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  height: 40rem;

}
#hero.home img{
  width: inherit;
  overflow: hidden;

}
#hero.home .text{
  position: absolute;
  font-size: 1.5rem;
  color: white;
  text-shadow: 2px 2px 2px black;
}

#about.home{
  display: flex;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
  height: 100%;

  font-size: 1.25rem;
}
#about.home #spacer{
  width: 150%;
  height: 100%;
  background-color: #C08552;
}

/* MENU */
#menu.menu{
  
  margin: 2rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 25rem);

  gap: 2rem;



}
.card{
  background-color: #C08552;
  height: 20rem;
}
.card.menu img{
  width: 10rem;
}


/* CONTACT */




#footer{
  color: #F5EDF0;
  background-color: #1C2321;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  font-size: .75rem;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

#contact.cont{
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #F3E9DC;
  text-shadow: #1C2321 2px 2px 5px;
  font-size: 1.25rem;
}
.cont-item{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  margin: .5rem;
  background-color: #C08552;
  border-radius: .5rem;
  border: 1px solid #1C2321;
}
.info.cont{
  flex: 1 1 2rem;
}