@font-face {
  font-family: 'road race outline';
  src: url(../fonts/Road\ Race\ Outline.ttf);
}
@font-face {
  font-family: 'road race rough';
  src: url(../fonts/Road\ Race\ Rough.ttf);
}
#content{
  height: 100vh; 
  display: grid;
  grid-template-rows: min-content 2rem 8fr 1.5rem;
  overflow: visible;
}

/* HEADER */
#header{
  font-family: 'road race rough';
  color: #F3E9DC;
  text-shadow: black 2px 2px ;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
}
#header.content-section{
  background-color: #6A041D;
}
#header-title{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.5rem;
  grid-column: 2/3;
  font-size: 4rem;
  overflow: visible;
}

/* NAV */
#nav{
  background-color: #1C2321;
  border-top: 2px solid black;
  border-bottom: 2.25px solid black;
  position: sticky;
  top: 0px;
  z-index: 1;
}
#nav ul{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav-tab::selection{
  background-color: none;
}
.nav-tab{
  color: #F3E9DC;
}
.nav-tab:link{
  text-decoration: none;
}
.nav-tab:hover{
  text-decoration: underline;
  cursor: pointer;
}
.nav-tab:active{
  color:white;
}

/* ARTICLE */
#article{
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.648);
}
#article-container{
  border: 4px solid #a4a1d1;
  width: 80vw;
  max-width: 1000px;
  min-width: 450px;
  display: flex;
  flex-direction: column;
  background-color: #a4a1d1;
}

/* HOME */
#hero.home{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#hero.home img{
  width: inherit;
  overflow: hidden;
  border: 2px solid black;
}
#hero.home .text{
  position: relative;
  top: 16px;
  align-self: flex-end;
  right: 32px;
  height: 0;
  font-size: 1.5rem;
  color: white;
  text-shadow: 3px 3px 5px black;
  font-weight: 500;
  font-size: 1.75rem;
  max-width: 20rem;
  text-align: end;
}

#about.home{
  display: flex;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
  height: 100%;
  font-size: 1.25rem;
}
#about.home #spacer{
  width:  150px;
  height: 300px;
  object-fit: cover;
  border: 2px solid black;
  background-color: #483C32;
}

/* MENU */
#menu.menu{
  margin: 2rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2rem;
}
.card{
  display: flex;
  background-color: #483C32;
  height: fit-content;
  padding: 1rem;
  border: 1px solid black;
  color: #F5EDF0;
  font-size: large;
  gap: 1rem;
}
.card.menu img{
  border: 1px solid black;
  width:  100px;
  height: 100px;
  clip: rect(15px 15px 15px 15px);
  object-fit: cover;
}
.title.menu{
  font-weight: 700;
}
.info.menu{
  padding-top: 1rem;
  padding-left: .25rem;
  font-size: .75rem;
}

/* CONTACT */
#contact.cont{
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #F3E9DC;
  text-shadow: #1C2321 2px 2px 5px;
  font-size: 1rem;
}
.cont-item{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  margin: .5rem;
  background-color: #483C32;
  border: 1px solid #1C2321;
}
.label.cont{
  width: 70px;
}
.info.cont{
  flex: 1 1 auto;
}

/* FOOTER */
#footer{
  color: #F5EDF0;
  background-color: #1C2321;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  font-size: .75rem;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
#footer svg{
  height: 1.25rem;
  fill: #F3E9DC;
}
#footer a{
  height: 100%;
  color: #F3E9DC;
  text-decoration: none;
  margin-top: 6px; 
}
#footer a:visited{
  color: #F3E9DC;
}
#footer a::selection{
  background-color: none;
}
.footer-item{
  display: flex;
}